body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    background-color: red;
}

#container {
background-color: white; 
border-radius: 25px; 
border: 5px solid black;  
display: grid;
height: 70%;
width: 70%;

}


.divElDrawn {
    border: 5px solid black;
    background-color: black;
    
}

.buttonDiv {
 display: inline-block;  

 border: 2px solid green;
 width: 130px; 
 height: 130px;
}

header {
    display: flex;
}