body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    background-color: red;
}

#container {
background-color: white;  
border: 5px solid black;  
height: 960px;
width: 960px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: center;


}

.divElRow {
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 5px solid blue;
    
}

.divElDrawn {
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 5px solid yellow;
    background-color: yellow;
    
}

.buttonDiv {
 display: inline-block;  

 border: 2px solid green;
 width: 130px; 
 height: 130px;
}

button {
    
}